<div data-options="dxView : { name: 'About', title: 'À Propos' } " >
    <div  data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div class="about" data-bind="dxScrollView: {}">
            <h1>ArtApp</h1>
            <p>Vulgarisation d'oeuvre d'art.</p>
            <p>Application projet de fin d'année de l'IIM option web 3ème année.</p>
            <p>Certaine oeuvre peuvent ne pas apparaitre partiellement en entier.</p>
            <p>Source : wikipédia</p>

        </div>
    </div>
</div>